<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>图片</title>
</head>
<body>
<div class="content">
    <div class="photos">
        <% photos.forEach(function (photo) {%>
            <div class="photo">
                <img src="<%= photo.path%>" alt="<%= photo.name%>">
                <h2><%= photo.name%></h2>
            </div>
        <%})%>
    </div>
</div>
</body>
</html>