<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>upload</title>
</head>
<body>
<div id="content">
    <h2>图片上传</h2>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <p>
            <input type="text" name="imgName" placeholder="imageName">
        </p>
        <p>
            <input type="file" name="imgPath">
        </p>
        <p>
            <input type="submit" value="uplaod">
        </p>
    </form>
</div>

</body>
</html>